:root {
    --two-j-color: #3274b0;
    --zero-color: #a89a9f;
    --hover-color: #e3bd2e;
    --hover-opacity: 0.2;
    --w3j-color: #21b0ae;
    --w3j-flipped-color: #8d74c5;
}

g.line.zero path.fg {
    stroke: var(--zero-color);
    font-weight: bold;
}

g.line.zero text.label {
    fill: var(--zero-color);
    font-weight: bold;
}

g.line.zero .arrowhead {
    fill: var(--zero-color);
    font-weight: bold;
}

g.line * {
    transition: fill 0.3s, fill-opacity 0.3s, stroke 0.3s, stroke-opacity 0.3s;
}

g.line path.bg,
g.line path.fg,
g.line path.hit {
    fill: none;
}

g.line path.bg {
    stroke: #ffffff;
    stroke-opacity: 0.7;
    stroke-width: 10;
    stroke-linecap: round;
}

g.line path.hit {
    stroke-opacity: 0;
    stroke-width: 25;
    stroke-linecap: round;
}

g.line:hover path.hit {
    stroke: var(--hover-color);
    stroke-opacity: var(--hover-opacity);
}

g.arrow:hover circle.hit,
g.node:hover circle.hit {
    fill: var(--hover-color);
    fill-opacity: var(--hover-opacity);
}

g.line path.fg {
    stroke-width: 2;
    stroke: #051308;
}

g.line path.pith {
    fill: none;
    stroke: none;
}

g.line.summed path.fg {
    stroke-width: 6;
}

g.line.summed path.pith {
    stroke: white;
    stroke-width: 2;
}

g.line text.label {
    fill: #051308;
    alignment-baseline: middle;
    text-anchor: middle;
    font-size: large;
}

g.line.two-j text.label {
    fill: var(--two-j-color);
}

g.line.two-j path.fg {
    stroke: var(--two-j-color);
}

g.line.two-j .arrowhead {
    fill: var(--two-j-color);
}

g.arrow.ambient .arrowhead {
    opacity: 0.35;
}

g.arrow.bad .hit {
    fill: #e74551;
    opacity: 0.35;
}

g.arrow.bad .arrowhead {
    fill: #e74551;
}

g.arrow.bad circle.arrowhead {
    opacity: .7;
}

g.arrow circle.hit {
    fill-opacity: 0;
}

g.node * {
    transition: fill 0.3s, fill-opacity 0.3s;
}

g.node circle.bg,
g.node circle.hit {
    fill: #ffffff;
    fill-opacity: 0;
}

g.node circle.fg {
    fill: #dddddd;
}

g.node text.label {
    alignment-baseline: middle;
    text-anchor: middle;
    font-size: large;
}

g.node.w3j circle.fg {
    fill: var(--w3j-color);
}

g.node.w3j circle.fg.flipped {
    fill: var(--w3j-flipped-color);
}

g.node.w3j use.arrow {
    fill: white;
}

g.node.w3j use.arrow.flipped {
    transform: scale(-1,1);
}

g.node.terminal circle.fg {
    fill: #000000;
    fill-opacity: 0.3;
}

g.node.terminal:hover circle.fg {
    fill: #646464;
    fill-opacity: 0.3;
}

g.node.terminal circle.fg.frozen {
    fill-opacity: 0;
}
